<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\bootstrap-5.1.3\dist\css\bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="..\chosen.min.css">
    <script type="application/javascript" src="..\bootstrap-5.1.3\dist\js\bootstrap.bundle.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="..\chosen.jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Anulare</title>


</head>

<body>
    <%- include('navbar')%>
        <div style="padding: 40pt;"></div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <nav class="shadow container p-3 rounded-3" style="background-color: #e3f2fd;">
                        <form class="row" method="post" action="/ricerca">
                            <div class="col-md-12 mb-2">
                                <select id="testo_ricerca" name="testo_ricerca" value="ao" class="chosen-select" data-placeholder="Hotel o Città" required>
                                    <optgroup label="HOTELS">
                                        <option></option>
                                        <% data.forEach(item => {%>
                                        <option><%=item.titolo%></option>
                                        <%});%>
                                    </optgroup>
                                    <optgroup label="CITTÀ">
                                        <option>Roma</option>
                                        <option>Firenze</option>
                                        <option>Milano</option>
                                    </optgroup>
                                </select>

                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active" for="dateStandard">Check-in:</label>
                                <input type="date" id="CheckInDate" onchange="checkin_fun();" name="CheckIn" required>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active" for="dateStandard">Check-out:</label>
                                <input type="date" id="CheckOutDate" onchange="checkout_fun();" name="CheckOut" required>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active">Partecipanti:</label>
                                <div class="btn-group">
                                    <button type="button" id="lessBtn" class="btn btn-light rounded-circle" onclick="lessBtnRange()">-</button>
                                    <input type="number" value="1" name="partecipants" id="partecipants" class="form-control-plaintext text-center" readonly style="width: 25pt;">
                                    <button type="button" id="moreBtn" class="btn btn-light rounded-circle" onclick="moreBtnRange()">+</button>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 mt-2">
                                <button class="btn rounded-3 fw-bold" style="background-color: #68d7f3;">Cerca <i class="ms-2 bi bi-search"></i></button>
                            </div>
                        </form>
                        <div class="row">

                        </div>
                    </nav>
                </div>
                <div class="col"></div>
            </div>
            <div class="text-center mt-5 mb-3">
                <h3>Le offerte del momento</h3>
            </div>

            <div class="row d-flex justify-content-around ">
                <% var count=0 %>
                    <% data.forEach(item => {%>
                        <% if(item.in_evidenza){ %>
                            <div class="showcase-left col-md-2 mt-2" style="width: 18rem;">
                                <div class="card " style=" background-color: rgb(162, 255, 128);">

                                    <svg class="bd-placeholder-img card-img-top mt-1 rounded-3" width="150" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                       <!-- <rect width="100%" height="100%" fill="#20c997"></rect> -->
                        <image href="<%=item.immagine%>" height="100%" width="100%"/>
                    </svg>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%=item.titolo%>
                                        </h5>
                                        <h6 class="card-subtitle">
                                            <%=item.prezzo%> €</h6>
                                        <p class="card-text">
                                            <%=item.descrizione%>
                                        </p>
                                        <div class="showcase-btn">
                                            <a href="/offerta?id=<%=item.id%>" class="btn btn-primary">Scopri di più</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <%});%>


                                    <!--<div class="card col-md-2 mt-2" style="width: 18rem;" aria-hidden="true">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                                    <div class="card-body">
                                        <h5 class="card-title placeholder-glow">
                                            <span class="placeholder col-6"></span>
                                        </h5>
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder col-7"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-6"></span>
                                            <span class="placeholder col-8"></span>
                                        </p>
                                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                                    </div>
                                </div>-->
            </div>
            <div class="text-center mt-5 mb-5">
                <h3>Scopri le regioni più belle d'Italia</h3>
                <a name="zona_scopri"></a>
            </div>

            <section id="piemonte">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <div class="info-left">
                                <img src="https://images.treccani.it/enc/media/share/images/orig/system/galleries/NPT/VOL_7/IMMAGINI/Piemonte_fig_01.jpg" style="max-width: 70%;">
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-right">
                                <h1 style="color: blue;">Piemonte</h1>
                                <h3>è situato nella zona nord-occidentale della penisola ed è una della cinque Regioni italiane a non avere alcun sbocco sul mare. La storia di questa terra è indissolubilmente legata allo sviluppo del Regno d’Italia, che ha
                                    avuto origine proprio da quello Sardo-Piemontese. Torino è stata infatti la prima capitale italiana, dall’anno dell’unità fino al 1865. Come suggerisce il nome stesso, il Piemonte occupa un territorio prevalentemente
                                    montuoso (la punta più alta è il Nordend con i suoi 4609 metri) ed è ricco di fiumi e laghi. Il clima è temperato-freddo, con inverni piuttosto rigidi ed estate afose. Il capoluogo Torino è ovviamente la città più importante:
                                    conta un ‘area metropolitana di circa 2 milioni di abitanti che comprende poli industriali, culturali e artistici di livello nazionale. Sono molte le aziende storiche nate in questa città: FIAT, Iveco, Cirio, Lavazza,
                                    Einaudi, solo per citarne alcune.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px;"></div>
            </section>


            <section id="lombardia">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <div class="info-left">
                                <img src="https://i.pinimg.com/originals/55/c4/8e/55c48e4745363ec6a1eed32ff77b8ce8.jpg" style="max-width: 70%;">
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-right">
                                <h1 style="color: blue;">Lombardia</h1>
                                <h3>Tra le Regioni italiane, è quella con il maggior numero di abitanti: un italiano su sei risiede infatti sul territorio regionale lombardo. I 10 milioni di residenti sono concentrati nell’area intorno a Milano, capoluogo
                                    regionale e fulcro della finanza e dell’economia nazionale. Il resto degli abitanti è distribuito nelle altre province di Sondrio, Como, Lecco, Monza e Brianza, Varese, Bergamo, Brescia, Pavia, Lodi, Cremona e Mantova,
                                    su una superficie di quasi 24 mila km². Il nome della Regione deriva da quello dei Longobardi, la popolazione germanica che nel VI secolo a.C. occupò gran parte della penisola, stabilendo la sede del regno a Ticinum,
                                    l’attuale Pavia. La Lombardia è una terra ricca di splendidi laghi, tra i quali ricorderai sicuramente il Lago Maggiore, il Lago di Como, il Lago d’Iseo e il Lago di Garda. L’economia lombarda è trainata dalle numerose
                                    imprese, che operano soprattutto nel settore industriale, tessile e chimico. Se hai intenzione di raggiungere questa Regione in aereo, hai solo l’imbarazzo della scelta: il suo sistema aeroportuale è il migliore in
                                    Italia, grazie agli scali di Malpensa, Linate, Orio al Serio e Montichiari.

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px;"></div>

            </section>

            <section id="toscana">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <div class="info-left">
                                <img src="https://i.pinimg.com/originals/a2/5b/37/a25b37e855179401ebcc8c73c920b89e.jpg" style="max-width: 70%;">
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-right">
                                <h1 style="color: blue;">Toscana</h1>
                                <h3>Il suo nome deriva dall’antica denominazione della Regione etrusca, ossia Tuscia. Dopo il crollo dell’Impero Romano ed il dominio bizantino, le città toscane hanno conosciuto un periodo di progressiva crescita, testimoniato
                                    dall’avvento di Pisa, la Repubblica Marinara che ha esteso il proprio dominio sul Tirreno. La Toscana è stata la culla del Rinascimento: nel Trecento e nel Quattrocento, centri come Firenze e Siena hanno attirato i
                                    migliori artisti dell’epoca, che hanno creato opere d’arte inimitabili. Allo stesso tempo, in queste città si è sviluppato un florido commercio, che ha contribuito allo nascita del settore bancario moderno. La Toscana
                                    è oggi divisa nelle province di Firenze (capoluogo regionale), Siena, Prato, Pistoia, Pisa, Massa, Lucca, Livorno, Grosseto e Arezzo, che ospitano 3 milioni e 700 mila abitanti su una superficie di circa 23 mila km².
                                    L’economia della regione si basa su vari distretti industriali, sulle produzioni agricole e sul turismo, attività che attira circa 6 milioni di presenze ogni anno.

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px;"></div>

            </section>

            <section id="lazio">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <div class="info-left">
                                <img src="https://i.pinimg.com/originals/01/51/bb/0151bbd70a06e704c044f12008030511.jpg" style="max-width: 70%;">
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-right">
                                <h1 style="color: blue;">Lazio</h1>
                                <h3>Seconda Regione italiana per popolazione con circa 5 milioni 900 mila abitanti, il Lazio ha la particolarità di ospitare al suo interno un intero Stato, ovvero la Città del Vaticano. Questo fa si che la città di Roma sia
                                    particolarmente ricca di ambasciate: molti Stati ne dispongono due, una per i rapporti con l’Italia, l’altra per quelli con lo Stato Pontificio. Il nome della Regione deriva da Latium, un’area che, ancor prima della
                                    comparsa di Roma, ospitava un popolo latino. La storia del Lazio è fortemente legata a quella dell’Impero Romano, che dopo aver raggiunto la massima espansione con Traiano nel 117 d.C. si è dissolto sul finire del V
                                    secolo. Dopo essere stato parte del Sacro Romano Impero, il territorio laziale è stato gradualmente incluso nello Stato della Chiesa, fino alla presa di Porta Pia nel 1870, che ne ha sancito l’appartenenza al Regno
                                    d’Italia. Gran parte della popolazione regionale risiede nella capitale, città che ospita le sedi istituzionali dello Stato.


                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px;"></div>

            </section>

            <section id="campania">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <div class="info-left">
                                <img src="https://www.italiadascoprire.net/wp-content/uploads/sites/15/mappa_campania.jpg" style="max-width: 70%;">
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-right">
                                <h1 style="color: blue;">Campania</h1>
                                <h3>Al tempo dei Romani, il litorale tirrenico campano era denominato Agro Capuano, nome che si è progressivamente modificato fino a diventare Campania. L’area occupata dall’attuale Regione è stata oggetto di diverse dominazioni,
                                    per opera dei Longobardi, dei Bizantini, dei Normanni, dagli Spagnoli e dai Borboni. Proprio durante il periodo borbonico, fu parte del Regno delle Due Sicilie, prima dell’annessione al Regno d’Italia. Grazie alla presenza
                                    del capoluogo Napoli, che da solo conta quasi un milione di abitanti, la Campania è la tra le Regioni italiane più popolose del Mezzogiorno e la terza in Italia, con i suoi 5 milioni 827 mila abitanti. Oltre a Napoli,
                                    le province campane includono Benevento, Caserta, Avellino e Salerno. Geograficamente, la Campania è molto varia, in quanto presenta catene montuose e zone costiere con piccole isole, come Ischia, Capri e Procida. I
                                    suoi innumerevoli tesori artistici ed architettonici rendono questa Regione una delle più importanti del nostro Paese dal punto di vista culturale, come testimoniato dai 6 siti UNESCO presenti nel territorio regionale.


                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px;"></div>

            </section>



        </div>
        <%- include('../footer.html'); -%>


            <script>
                window.sr = ScrollReveal();
                sr.reveal('.navbar', {
                    duration: 2000,
                    origin: 'bottom'
                });
                sr.reveal('.showcase-left', {
                    duration: 2000,
                    origin: 'top',
                    distance: '300px'
                });

                sr.reveal('.showcase-btn', {
                    duration: 2000,
                    delay: 500,
                    origin: 'bottom',
                    distance: '300px'

                });

                sr.reveal('.info-left', {
                    duration: 2000,
                    origin: 'left',
                    distance: '300px',
                    viewFactor: 0.2
                });

                sr.reveal('.info-right', {
                    duration: 2000,
                    origin: 'right',
                    distance: '300px',
                    viewFactor: 0.2
                });
            </script>




</body>
<script>
    $(".chosen-select").chosen({
        no_results_text: "Non ho trovato quello che cercavi:",
        width: "100%",

    })

    /*function search_fun() {

        var checkin = document.getElementById('CheckInDate').value;
        var checkout = document.getElementById('CheckOutDate').value;
        var posto = document.getElementById('testo_ricerca').value;
        var persone = document.getElementById('partecipants').value;
        if (checkin === '' || checkout === '') {

            alert("inserire una data valida");

        } else {
            // Responce.Redirect('/ricerca?q=' + document.getElementById('testo_ricerca').value);
            location.href = '/ricerca?in=' + checkin + '&out=' + checkout + '&place=' + posto + '&people=' + persone;
            location.assign('/ricerca?in=' + checkin + '&out=' + checkout + '&place=' + posto + '&people=' + persone);
        }
    }*/

    function checkin_fun() {


        var checkin = document.getElementById("CheckInDate");
        var checkout = document.getElementById("CheckOutDate");
        var in_date = new Date(checkin.value);
        var out_date = in_date;
        var today = new Date();
        if (in_date <= today) {
            alert("data non valida!");
            checkin.value = new Date();
        }
        out_date.setDate(out_date.getDate() + 1);
        checkout.value = out_date.toISOString().split('T')[0];
    }

    function checkout_fun() {

        var checkin = document.getElementById("CheckInDate");
        var checkout = document.getElementById("CheckOutDate");
        var in_date;
        var out_date = new Date(checkout.value);
        if (checkin.value == '') {
            alert("Scegli prima la data di partenza");
            checkout.value = new Date();
            return
        } else {
            in_date = new Date(checkin.value);
            if (in_date >= out_date) {
                alert("data non valida!");
                checkout.value = new Date();
            }
        }
    }

    function lessBtnRange() {
        var lessBtn = document.getElementById("lessBtn");
        var moreBtn = document.getElementById("moreBtn");
        var part = document.getElementById("partecipants");

        if (part.valueAsNumber == 1) {
            lessBtn.disabled = true;
        } else {
            lessBtn.disabled = false;
            moreBtn.disabled = false;
            part.value = part.valueAsNumber - 1;
        }
    }

    function moreBtnRange() {
        var lessBtn = document.getElementById("lessBtn");
        var moreBtn = document.getElementById("moreBtn");
        var part = document.getElementById("partecipants");

        if (part.valueAsNumber == 10) {
            moreBtn.disabled = true;
        } else {
            moreBtn.disabled = false;
            lessBtn.disabled = false;
            part.value = part.valueAsNumber + 1;
        }
    }
</script>

</html>