<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\bootstrap-5.1.3\dist\css\bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="..\chosen.min.css">
    <script type="application/javascript" src="..\bootstrap-5.1.3\dist\js\bootstrap.bundle.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="..\chosen.jquery.min.js"></script>

    <title>Anulare</title>


</head>

<body>
    <%- include('navbar')%>
        <div style="padding: 40pt;"></div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <nav class="shadow container p-3 rounded-3" style="background-color: #e3f2fd;">
                        <form class="row" method="post" action="/ricerca" onsubmit="search_fun()">
                            <div class="col-md-12 mb-2">
                                <select id="testo_ricerca" class="form-control chosen-select" data-placeholder="Hotel o Città" required >
                                    <optgroup label="HOTELS">
                                        <option></option>
                                        <% data.forEach(item => {%>
                                        <option><%=item.titolo%></option>
                                        <%});%>
                                    </optgroup>
                                    <optgroup label="CITTÀ">
                                        <option>Roma</option>
                                        <option>Firenze</option>
                                        <option>Milano</option>
                                    </optgroup>
                                </select>
                                <!--<input type="text" id="testo_ricerca" class="form-control" placeholder="Hotel o Città" list="hotelsList">-->
                                
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active" for="dateStandard">Check-in:</label>
                                <input type="date" id="CheckInDate" onchange="checkin_fun();" name="CheckIn" required>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active" for="dateStandard">Check-out:</label>
                                <input type="date" id="CheckOutDate" onchange="checkout_fun();" name="CheckOut" required>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active">Partecipanti:</label>
                                <div class="btn-group">
                                    <button type="button" id="lessBtn" class="btn btn-light rounded-circle" onclick="lessBtnRange()">-</button>
                                    <input type="number" value="1" id="partecipants" class="form-control-plaintext text-center" readonly style="width: 25pt;">
                                    <button type="button" id="moreBtn" class="btn btn-light rounded-circle" onclick="moreBtnRange()">+</button>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 mt-2">
                                <button class="btn rounded-3 fw-bold" style="background-color: #68d7f3;">Cerca <i class="ms-2 bi bi-search"></i></button>
                            </div>
                        </form>
                        <div class="row">

                        </div>
                    </nav>
                </div>
                <div class="col"></div>
            </div>
            <div class="text-center mt-5 mb-3">
                <h3>Le offerte del momento</h3>
            </div>

            <div class="row d-flex justify-content-around ">
                <% var count=0 %>
                <% data.forEach(item => {%>
                    <% if(item.in_evidenza){ %>
                        <div class="card col-md-2 mt-2" style="width: 18rem; background-color: rgb(162, 255, 128);">
                            <svg class="bd-placeholder-img card-img-top mt-1 rounded-3" width="150" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                       <!-- <rect width="100%" height="100%" fill="#20c997"></rect> -->
                        <image href="<%=item.immagine%>" height="100%" width="100%"/>
                    </svg>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=item.titolo%>
                                </h5>
                                <p class="card-text">
                                    <%=item.descrizione%>
                                </p>
                                <a href="/offerta?id=<%=item.id%>" class="btn btn-primary">Scopri di più</a>
                            </div>
                        </div>
                    <% } %>
                <%});%>


                                <!--<div class="card col-md-2 mt-2" style="width: 18rem;" aria-hidden="true">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                                    <div class="card-body">
                                        <h5 class="card-title placeholder-glow">
                                            <span class="placeholder col-6"></span>
                                        </h5>
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder col-7"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-6"></span>
                                            <span class="placeholder col-8"></span>
                                        </p>
                                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                                    </div>
                                </div>-->
            </div>
            <div class="text-center mt-5 mb-5">
                <h3>Scopri le regioni più belle d'Italia</h3>
            </div>
        </div>

</body>
<script>
    $(".chosen-select").chosen()

    function search_fun() {

        var checkin = document.getElementById('CheckInDate').value;
        var checkout = document.getElementById('CheckOutDate').value;
        var posto = document.getElementById('testo_ricerca').value;
        var persone = document.getElementById('partecipants').value;
        if (checkin === '' || checkout === '') {

            alert("inserire una data valida");

        } else {
            // Responce.Redirect('/ricerca?q=' + document.getElementById('testo_ricerca').value);
            location.href = '/ricerca?in=' + checkin + '&out=' + checkout + '&place=' + posto + '&people=' + persone;
            location.assign('/ricerca?in=' + checkin + '&out=' + checkout + '&place=' + posto + '&people=' + persone);
        }
    }


    function checkin_fun() {

        var checkin = document.getElementById("CheckInDate");
        var today = new Date();
        var current_date = today.getTime();
        var checkout = document.getElementById("CheckOutDate");


        if (checkin.valueAsNumber <= current_date || (checkin.valueAsNumber >= 0 && checkin.valueAsNumber >= checkout.valueAsNumber)) {
            checkin.value = new Date();

            alert("data non valida!");
        }
    }

    function checkout_fun() {

        var checkin = document.getElementById("CheckInDate");
        var checkout = document.getElementById("CheckOutDate");

        var today = new Date();
        var current_date = today.getTime();

        if (checkin.valueAsNumber >= checkout.valueAsNumber || checkout.valueAsNumber <= current_date) {
            checkout.value = new Date();
            alert("data non valida!");
        }

    }

    function lessBtnRange() {
        var lessBtn = document.getElementById("lessBtn");
        var moreBtn = document.getElementById("moreBtn");
        var part = document.getElementById("partecipants");

        if (part.valueAsNumber == 1) {
            lessBtn.disabled = true;
        } else {
            lessBtn.disabled = false;
            moreBtn.disabled = false;
            part.value = part.valueAsNumber - 1;
        }
    }

    function moreBtnRange() {
        var lessBtn = document.getElementById("lessBtn");
        var moreBtn = document.getElementById("moreBtn");
        var part = document.getElementById("partecipants");

        if (part.valueAsNumber == 10) {
            moreBtn.disabled = true;
        } else {
            moreBtn.disabled = false;
            lessBtn.disabled = false;
            part.value = part.valueAsNumber + 1;
        }
    }
</script>

</html>