<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\bootstrap-5.1.3\dist\css\bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="..\chosen.min.css">
    <script type="application/javascript" src="..\bootstrap-5.1.3\dist\js\bootstrap.bundle.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="..\chosen.jquery.min.js"></script>
    <title>Offerte del momento</title>
</head>

<body>
    <%- include('navbar')%>
        <div style="padding: 40pt;"></div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <nav class="shadow container p-3 rounded-3" style="background-color: #e3f2fd;">
                        <form class="row" method="post" action="/ricerca">
                            <div class="col-md-12 mb-2">
                                <select id="testo_ricerca" value="<%=query[0]%>" name="testo_ricerca" class="chosen-select" data-placeholder="Hotel o Città" required>
                                    <optgroup label="HOTELS">
                                        <option></option>
                                        <% data.forEach(item => {%>
                                        <option><%=item.titolo%></option>
                                        <%});%>
                                    </optgroup>
                                    <optgroup label="CITTÀ">
                                        <% cittas.forEach(item => {%>
                                            <option><%= item %></option>
                                            <%});%>
                                    </optgroup>
                                </select>

                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active" for="dateStandard">Check-in:</label>
                                <input type="date" id="CheckInDate" onchange="checkin_fun();" name="CheckIn" value="<%=query[1]%>" required>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active" for="dateStandard">Check-out:</label>
                                <input type="date" id="CheckOutDate" onchange="checkout_fun();" name="CheckOut" value="<%=query[2]%>" required>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label class="active">Partecipanti:</label>
                                <div class="btn-group">
                                    <button type="button" id="lessBtn" class="btn btn-light rounded-circle" onclick="lessBtnRange()">-</button>
                                    <input type="number" value="<%=query[3]%>" name="partecipants" id="partecipants" class="form-control-plaintext text-center" readonly style="width: 25pt;">
                                    <button type="button" id="moreBtn" class="btn btn-light rounded-circle" onclick="moreBtnRange()">+</button>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 mt-2">
                                <button class="btn rounded-3 fw-bold" style="background-color: #68d7f3;">Cerca <i class="ms-2 bi bi-search"></i></button>
                            </div>
                        </form>
                        <div class="row">

                        </div>
                    </nav>
                </div>
                <div class="col"></div>
            </div>
            <div class="row d-flex justify-content-around mt-5">
                <div style="padding: 50pt;"></div>
                <% if(results.size==0){ %>
                    <% if(query[0] == ''){ %>
                        <div class="col-lg-12 text-center" style="color:red;">
                            <h2>Non è stato trovato alcun hotel disponibile per queste date e numero partecipanti</h2>
                        </div>
                        <% } else{ %>
                            <div class="col-lg-12 text-center" style="color:red;">
                                <h2>L'hotel selezionato non ha disponibilità per le date e numero partecipanti inseriti</h2>
                            </div>

                            <% } %>
                                <% } else{ %>
                                    <div class="col-lg-12 text-center" style="color:green;">
                                        <h2>La ricerca ha prodotto
                                            <%=results.size%> risultati:</h2>
                                    </div>




                                    <% results.forEach(item => {%>
                                        <div class="card col-md-2 mt-2" style="width: 18rem;">
                                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                   <!--     <rect width="100%" height="100%" fill="#20c997"></rect>-->
                        <image href="<%=item.immagine%>" height="100%" width="100%"/>

                    </svg>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%=item.titolo%>
                                                </h5>
                                                <h6 class="card-subtitle">
                                                    <%=item.prezzo%> €</h6>
                                                <p class="card-text">
                                                    <%=item.descrizione%>
                                                </p>
                                                <a class="btn btn-primary" href="/offerta?id=<%=item.id%>">Scopri di più</a>
                                            </div>
                                        </div>
                                        <%});%>
                                            <% } %>
            </div>
        </div>
        <%- include('../footer.html'); -%>


            <script>
                //effetto scroll rallentato
                $(function() {

                    $('a[href*="#"]:not([href="#"])').click(function() {

                        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {

                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                            if (target.length) {

                                $('html,body').animate({

                                    scrollTop: target.offset().top
                                }, 500);
                                return false;

                            }


                        }



                    });




                });
            </script>


</body>
<script>
    $(".chosen-select").chosen({
        no_results_text: "Non ho trovato quello che cercavi:",
        width: "100%",

    })

    function checkin_fun() {


        var checkin = document.getElementById("CheckInDate");
        var checkout = document.getElementById("CheckOutDate");
        var in_date = new Date(checkin.value);
        var out_date = in_date;
        var today = new Date();
        if (in_date <= today) {
            alert("data non valida!");
            checkin.value = new Date();
        }
        out_date.setDate(out_date.getDate() + 1);
        checkout.value = out_date.toISOString().split('T')[0];
    }

    function checkout_fun() {

        var checkin = document.getElementById("CheckInDate");
        var checkout = document.getElementById("CheckOutDate");
        var in_date;
        var out_date = new Date(checkout.value);
        if (checkin.value == '') {
            alert("Scegli prima la data di partenza");
            checkout.value = new Date();
            return
        } else {
            in_date = new Date(checkin.value);
            if (in_date >= out_date) {
                alert("data non valida!");
                checkout.value = new Date();
            }
        }
    }

    function lessBtnRange() {
        var lessBtn = document.getElementById("lessBtn");
        var moreBtn = document.getElementById("moreBtn");
        var part = document.getElementById("partecipants");

        if (part.valueAsNumber == 1) {
            lessBtn.disabled = true;
        } else {
            lessBtn.disabled = false;
            moreBtn.disabled = false;
            part.value = part.valueAsNumber - 1;
        }
    }

    function moreBtnRange() {
        var lessBtn = document.getElementById("lessBtn");
        var moreBtn = document.getElementById("moreBtn");
        var part = document.getElementById("partecipants");

        if (part.valueAsNumber == 10) {
            moreBtn.disabled = true;
        } else {
            moreBtn.disabled = false;
            lessBtn.disabled = false;
            part.value = part.valueAsNumber + 1;
        }
    }
</script>

</html>